
#Map01 {
  position: relative;
  text-align: center;
  padding-top: 56.25%;
}
#Map01frame {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
#Map_Leaflet {
  height: 50%
}
