
#Map01 {
  position: relative;
  text-align: center;
  padding-top: 56.25%;
}
#Map01frame {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

#Map03frame {
  position: absolute;
  top: 0;
  left: 0;
  width: 80%;
  max-width: 1280px;
  max-height: 720px
}

#Map_Leaflet {
  height: 480px;
}

#Map_Leaflet01 {
  height: 720px;
  width: 1280px;
}

#logo {
  width:80%;
  min-height:21px;
  max-height:336px;
  min-width:50px;
  max-width:800px;
}
